*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'roboto', sans-serif;

}
header{
    padding: 16px 0;
    background-color: red;
    color:white ;
}

header nav li{
    display: inline;
    margin-left: 16px;    

}

header nav li a{  
    color:white;
    text-decoration: none;

}

.conteiner{
    max-width: 1024px;
    width: 1024px;
    margin: 0 auto;
}

section h2,
section h4{
    margin-top: 9px;
}

header .conteiner,
section.conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.b-list img {
    height: 24px; 
    margin-right: 9px;  
    margin-top: 10px;
    cursor: pointer;
}

.b-list li {
    display: inline;
}

#VAVA {
    height: 400px; 
    margin-top: 17px;

}

#cont h2 {
    margin-top: 30px;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;

}

form textarea{
    resize: none;
    height: 100px;
}

form button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(218, 97, 97);
    color: black;
}
footer p {
    color:white;
    text-align: center;
    padding: 20px;
    background-color: red;

 }

#f{
    width: 100%;
}